AntiPattern/AntiPattern/obj/
AntiPattern/.vs/AntiPattern/v15/Server/sqlite3/storage.ide
AntiPattern/.vs/AntiPattern/v15/Server/sqlite3/db.lock
AntiPattern/.vs/AntiPattern/v15/.suo
AntiPattern/AntiPattern/bin/
AntiPattern/.vs/AntiPattern/v15/Server/sqlite3/storage.ide-wal
AntiPattern/.vs/AntiPattern/v15/Server/sqlite3/storage.ide-shm
